.navbar{
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.middle > ul,
.right> ul{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 15px;
}
